<section id="section-1">
  <!-- Presentation -->
  <div class="presentation">
    <!-- About me -->
    <article class="about-me">
      <header class="about-me__header header">
        <h3 class="header__title">Sobre Mí</h3>
        <hr class="header__separator" />
      </header>
      <p class="about-me__text">
        Soy un Desarrollador Web Fullstack apasionado por el medio Tech.
        Enfocado en entregar productos de valor de forma eficiente.
      </p>
    </article>

    <!-- My habilities -->
    <article class="habilities">
      <header class="habilities__header header">
        <h3 class="header__title">Mis Habilidades</h3>
        <hr class="header__separator" />
      </header>
      <ul class="habilities__list list">
        <li class="list__item item">
          <h4 class="item__title">Páginas web</h4>
          <p class="item__text">
            Manejo de tecnologias Web Frontend: HTML, CSS, Javascript y ReactJS.
          </p>
        </li>
        <li class="list__item item">
          <h4 class="item__title">Apps de servidor</h4>
          <p class="item__text">
            Creación de APIs para manejo de Bases de Datos (SQL y NoSQl).
          </p>
        </li>
        <li class="list__item item">
          <h4 class="item__title">Servidores Linux</h4>
          <p class="item__text">
            Instalación y manejo de servidores y programas Linux/Ubuntu para
            despliegue.
          </p>
        </li>
      </ul>
    </article>
  </div>

  <!-- My stack -->
  <article class="my-stack">
    <header class="my-stack__header header">
      <h3 class="header__title">Mis Tecnologías</h3>
      <hr class="header__separator" class="icon__image" />
    </header>
    <div class="my-stack__body">
      <div class="my-stack__icons icons">
        <h4 class="icons__title">Backend</h4>
        <ul class="my-stack__list icons__list">
          <li class="icons__item icon">
            <img src="/image.png" class="icon__image" />
            <span class="icon__text">Node</span>
          </li>
          <li class="icons__item icon">
            <img src="/express.png" class="icon__image" />
            <span class="icon__text">Express</span>
          </li>
          <li class="icons__item icon">
            <img
              src="/68747470733a2f2f696d672e69636f6e73382e636f6d2f636f6c6f722f3235362f6d6f6e676f64622e706e67.png"
              class="icon__image"
            />
            <span class="icon__text">MongoDB</span>
          </li>
          <li class="icons__item icon">
            <img src="/python-256x256.png" class="icon__image" />
            <span class="icon__text">Python</span>
          </li>
          <li class="icons__item icon">
            <img src="/fastapi.svg" class="icon__image" />
            <span class="icon__text">FastAPI</span>
          </li>
          <li class="icons__item icon">
            <img src="/sqlImage.png" class="icon__image" />
            <span class="icon__text">SQL Databases</span>
          </li>
        </ul>
      </div>
      <div class="my-stack__icons icons">
        <h4 class="icons__title">Frontend</h4>
        <ul class="my-stack__list icons__list">
          <li class="icons__item icon">
            <img src="/HTML5_Badge_256.png" class="icon__image" />
            <span class="icon__text">HTML</span>
          </li>
          <li class="icons__item icon">
            <img src="/free-css-37-226088.webp" class="icon__image" />
            <span class="icon__text">CSS</span>
          </li>
          <li class="icons__item icon">
            <img
              src="/free-javascript-2038874-1720087.webp"
              class="icon__image"
            />
            <span class="icon__text">JavaScript</span>
          </li>
          <li class="icons__item icon">
            <img src="/free-react-3-1175109.webp" class="icon__image" />
            <span class="icon__text">React</span>
          </li>
        </ul>
      </div>
      <div class="my-stack__icons icons">
        <h4 class="icons__title">Otras herramientas</h4>
        <ul class="my-stack__list icons__list">
          <li class="icons__item icon">
            <img src="/518713.png" class="icon__image" />
            <span class="icon__text">Linux</span>
          </li>
          <li class="icons__item icon">
            <img src="/225996.webp" class="icon__image" />
            <span class="icon__text">Git</span>
          </li>
          <li class="icons__item icon">
            <img src="/25231.png" class="icon__image" />
            <span class="icon__text">Github</span>
          </li>
        </ul>
      </div>
    </div>
  </article>
</section>
