<section id="section-2" class="my-projects">
  <header class="section-header">
    <h2 class="my-projects__title">Mis Proyectos</h2>
    <hr />
  </header>
  <div class="section-body">
    <button class="carousel-button" id="left-button">
      <div class="arrow-left"></div>
    </button>
    <div class="carousel-div" id="carousel-div">
      <ul id="carousel-ul">
        <li class="carousel-li-item item">
          <img class="item__image" src="/dibujo2.png" />
          <div class="carousel-item-text item__text">
            <div class="item__header">
              <h3 class="item__title">Web Catálogo "Dino Kids"</h3>
              <h5 class="item__subtitle">
                Desarrollo y despliegue de una página web para tienda de ropa.
              </h5>
            </div>

            <ul class="item__list">
              <li>
                Creación de una API con Node, Express y Typescript para
                gestionar una base de datos MongoDB.
              </li>
              <li>Página web hecha con React.</li>
              <li>Configuración y despliegue en Servidor Ubuntu/Linux.</li>
            </ul>
            <ul class="carousel-item-links item__links links">
              <!-- <li class="links__item">
                <a class="links__text" href="https://dinokids.site"
                  >¡Visita la página!</a
                >
              </li> -->
              <li class="links__item">
                <a
                  class="links__text"
                  href="https://github.com/GustavoTolay/DinoKids_React_App"
                  >Ver repositorio web en Github</a
                >
              </li>
              <li class="links__item">
                <a
                  class="links__text"
                  href="https://github.com/GustavoTolay/DinoKids_Node_API"
                  >Ver repositorio API en Github</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li class="carousel-li-item item">
          <img class="item__image" src="/alkybank.png" />
          <div class="carousel-item-text item__text">
            <div class="item__header">
              <h3 class="item__title">Web de finanzas "Alkybank"</h3>
              <h5 class="item__subtitle">
                Desarrollo en equipo de una página web para administrar finanzas
                personales.
              </h5>
            </div>

            <ul class="item__list">
              <li>Trabajo en equipo aplicando metodología SCRUM.</li>
              <li>
                Desarrollo de una API con Node y Express para gestionar una base
                de datos MySQL.
              </li>
              <li>Página web creada usando React.</li>
              <li>Desplegada utilizando el servicio Vercel.</li>
            </ul>
            <ul class="carousel-item-links item__links links">
              <li class="links__item">
                <a
                  class="links__text"
                  href="https://github.com/GustavoTolay/Alkybank_React_App"
                  >Ver repositorio web en Github</a
                >
              </li>
              <li class="links__item">
                <a
                  class="links__text"
                  href="https://github.com/GustavoTolay/Alkybank_Node_API"
                  >Ver repositorio API en Github</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li class="carousel-li-item item">
          <img class="item__image" src="/flutter.png" />
          <div class="carousel-item-text item__text">
            <div class="item__header">
              <h3 class="item__title">App para registro de ingresos</h3>
              <h5 class="item__subtitle">
                Desarrollo de una aplicación de escritorio para administrar
                finanzas.
              </h5>
            </div>

            <ul class="item__list">
              <li>
                API creada con Python y FastAPI para administrar una base de
                datos SQLite.
              </li>
              <li>Aplicación hecha con Flutter.</li>
            </ul>
            <ul class="carousel-item-links item__links links">
              <li class="links__item">
                <a
                  class="links__text"
                  href="https://github.com/GustavoTolay/FinanceAppClient"
                  >Ver repositorio Flutter en Github</a
                >
              </li>
              <li class="links__item">
                <a
                  class="links__text"
                  href="https://github.com/GustavoTolay/FinanceAppAPI"
                  >Ver repositorio API en Github</a
                >
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <button class="carousel-button" id="right-button">
      <div class="arrow-right"></div>
    </button>
  </div>
  <div class="section-footer" id="section-2-footer">
    <div class="circle-active" id="circle-1"></div>
    <div class="circle" id="circle-2"></div>
    <div class="circle" id="circle-3"></div>
  </div>
</section>
