<nav class="navbar">
  <!-- Navbar logo -->
  <div class="navbar__logo logo">
    <h5 class="logo__title">Gustavo Tolay</h5>
    <h3 class="logo__subtitle">Desarrollador Fullstack</h3>
  </div>

  <div class="navbar__main">
    <!-- Links to sections -->
    <ul class="link-list">
      <li class="link-list__item">
        <a href="#section-1" class="link-list__link">Sobre Mí</a>
      </li>
      <li class="link-list__item">
        <a href="#section-2" class="link-list__link">Mis proyectos</a>
      </li>
      <li class="link-list__item">
        <a href="#section-3" class="link-list__link">Contacto</a>
      </li>
    </ul>

    <!-- Social links icons -->
    <ul class="icon-list">
      <li class="icon-list__item icon">
        <a class="icon__link" href="https://github.com/GustavoTolay">
          <img class="icon__image" src="/github2.png" />
        </a>
      </li>
      <li class="icon-list__item icon">
        <a class="icon__link" href="https://wa.me/543884482990">
          <img class="icon__image" src="/whatsapp2.png" />
        </a>
      </li>
      <li class="icon-list__item icon">
        <a class="icon__link" href="https://m.me/franco.tolay.332">
          <img class="icon__image" src="/messenger2.png" />
        </a>
      </li>
    </ul>
  </div>
</nav>